name: Deploy Email Forwarding Worker

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    name: Deploy
    env:
      TESTING: true
    steps:
      - uses: actions/checkout@v5
      - name: Convert YAML to JSON
        if: ${{ env.TESTING == 'false' }}
        id: convert_yaml
        uses: mikefarah/yq@v4.49.1
        with:
          cmd: yq eval -o=json config/email-config.yml
      - name: Deploy
        if: ${{ env.TESTING == 'false' }}
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          secrets: |
            EMAIL_CONFIG
        env:
          EMAIL_CONFIG: ${{ steps.convert_yaml.outputs.result }}
